---
import Layout from '../layouts/Layout.astro';
import Redes from '../components/Redes.astro';
import Card from '../components/Card.astro';
---


<Layout title="Portafolio Joaquín León">
	<main>
		<section class=" w-full  py-44 flex  justify-evenly mb-40">
			<div>
				<h1 class="font-bold text-5xl pb-4">
					Hola soy Joaquín León 
				</h1>
				<h2 class="text-xl opacity-80">Desarrollador  Web e Ingeniero en Gestión de Tecnologías de la información</h2>
			</div>
			<img class="w-[350px] rounded-full" src= '../../public/JoaquinPerfil.jpg'/>
		</section>
		<section>
			<h2 class="text-3xl font-bold text-center py-10">Sobre Mi</h2>
		
				<p class="text-center  mx-auto w-[745px] ">Me atrae las tecnologías, software y hardware.
					me gusta aprovechar todos los recursos online
					disponibles con afán de ser un desarrollador
					capaz de encontrar soluciones sofisticadas a
					problemas complejos.
					Me gusta empatizar con mis compañeros a fin
					de tener un ambiente de trabajo cordial y
					productivo.</p>
			<Redes/>
				

			
		</section>
		
	</main>
</Layout>


