---
import Layout from '../layouts/Layout.astro';
import Redes from '../components/Redes.astro';
import Especial from '../components/Especial.astro';
import Tecnologys from '../components/Tecnologys.astro';
import Banner from '../components/Banner.astro';
import Form from '../components/Form.astro';
import Footer from '../components/Footer.astro';
---


<Layout title="Portafolio Joaquín León">
	<main>
		<Banner/>
		<section class="container flex flex-col items-center px-4 py-12 mx-auto text-center">
			<h2 class="max-w-2xl mx-auto text-2xl font-semibold tracking-tight text-gray-800 xl:text-3xl dark:text-white">Sobre Mi</h2>
		
				<p class="max-w-4xl mt-6 text-center text-gray-500 dark:text-gray-300">
					Me atrae las tecnologías, software y hardware.
					Me gusta aprovechar todos los recursos online
					disponibles con afán de ser un desarrollador
					capaz de encontrar soluciones sofisticadas a
					problemas complejos.
					Disfruto empatizar con mis compañeros a fin
					de tener un ambiente de trabajo cordial y
					productivo.</p>
			<Redes 
			title='Correo'
			text='joaquileonquero00@gmail.com'
			link=''
			altText='Imagen de Email'
			imagePath='src/assets/sobre.png'
			/>			
		</section>
		<section class="py-2" >
			<h2 class="text-3xl font-bold text-center py-10 mb-16 dark:text-white">Experiencia </h2>
			<Especial/>
		</section>
		<section class="py-2 my-11 w-full" id="conocimientos">
			<h2 class="text-3xl font-bold text-center py-10 dark:text-white">Conocimientos </h2>
				<Tecnologys/>
		</section>
		<section class="flex flex-col justify-center w-full dark:border-none" id="contacto">
			<h2 class="text-3xl font-bold text-center py-10 dark:text-white">Contacto</h2>
			<div class="border-black boder">
				<Form/>
			</div>
				<Footer/>
		</section>
	</main>
</Layout>


