---
import { Image } from "astro:assets";
import JoaquinPerfil from "../assets/JoaquinPerfil.jpg"
---

<div class="container px-6 py-16 mx-auto mb-20">
    <div class="items-center lg:flex">
        <div class="w-full lg:w-1/2">
            <div class="lg:max-w-lg mb-16">
                <h1 class="text-3xl font-semibold text-gray-800 dark:text-white lg:text-4xl">Hola Soy Joaquín León Quero <span class="text-blue-500">Desarrollador e Ingeniero TI</span></h1>

                <p class="mx-3 mb-7 text-gray-600 dark:text-gray-400">Cofounder  y CEO de <span class="font-medium text-blue-500">Tridot</span> México</p>
                <a href="./Joaquín_León_QueroCV.pdf" download="Joaquín León Quero CV" class="px-5 py-2 text-sm tracking-wider text-white uppercase transition-colors duration-300 transform bg-blue-600 rounded-lg lg:w-auto lg:mx-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                
                    Descargar CV
                </a>
            </div>
        </div>

        <div class="flex items-center justify-center w-full mt-6 lg:mt-0 lg:w-1/2">
            <Image class="w-full h-full max-w-md rounded-full" src={JoaquinPerfil} alt="Foto `Perfil">
        </div>
    </div>
</div>