---
interface Props {
	title: string;
	body: string;
}

const { title, body } = Astro.props;
---
<div class="flex  flex-col items-center justify-center gap-10  md:flex-row">
	<div class="flex flex-col items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-72 h-[218px] max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-800 ">
		<h2 class="p-2 text-xl font-medium text-gray-900 dark:text-white">
			<span>&rarr;</span>
			{title}
		</h2>
		<p class="p-2 text-base text-gray-400 dark:text-gray-300">
			{body}
		</p>
	</div>
</div>
