---
import Card from  './Card.astro'
---

<div class='flex justify-center gap-10'>

            <Card 
            title='Desarrollo de Software'
             body='Desarrollo y soluciones Web, usando diferentes tecnlogías que resuelvan tu necesidad '
             />
	        <Card 
            title='Certificador de QA'
            body='Realizo certificaciones de QA de proyectos en el giro bancario de implementaciones y desarrollos web y batch.'
            />
            <Card 
            title='Soporte y seguridad'
            body=' Gestiono la seguridad de equipos de computo, ádemas de brindar soporte técnico remoto y presencial.'
            />
            <Card 
            title='Consultor TI'
            body='Brindo asesoría para la automatización de procesos mediante el uso de las Tecnologías de la información, brindando un buen servicio al cliente con el manejo de varios presupuestos.'
            />
</div>