<div class="flex justify-evenly">
            <div class="flex justify-center ">
                        <a href = ""><img class="w-[36px] rounded-full hover:w-11" src= '../../public/sobre.png'/> </a>
            </div>
            <div class="flex justify-center ">
                        <img class="w-[36px] rounded-full " src= '../../public/sobre.png'/>
            </div>

            <div class="flex justify-center">
                        <img class="w-[36px] rounded-full" src= '../../public/sobre.png'/>
            </div>
            <div class="flex justify-center">
                        <img class="w-[36px] rounded-full" src= '../../public/sobre.png'/>
            </div>
</div>